
CMakeCache.txt
CMakeFiles
install_manifest.txt
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
examples/R/.Rhistory
examples/R/sample.tif
examples/R/sample.tif.aux.xml
doc/operators/*.html
doc/operators/.Rhistory
install/libscidb4geo.so
libscidb4geo.so
scidb4geo_bin.tar.gz